.vpadding {
  padding-bottom: 15px;
  padding-top: 15px;
}

.hpadding {
  padding-left: 15px;
  padding-right: 15px;
}

.padding {
  padding: 15px;
}

.callout {
  margin: 10px 0;
  padding: 10px;
  color: #333333;
  background-color: #f5f5f5;
  border-left: 5px solid #2e2f2f;
}

.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.callout p:last-child {
  margin-bottom: 0;
}

.callout .table > thead:first-child > tr:first-child > th {
  border-bottom: 0px none;
}

.callout-primary,
.callout-primary .table > tbody > tr > th,
.callout-primary .table > tbody > tr > td {
  border-color: #335d8a;
  background-color: #cfdbe6;
}

.callout-primary .table-striped > tbody > tr:nth-child(2n+1) > td,
.callout-primary .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #99b5cc;
}

.callout-success,
.callout-success .table > tbody > tr > th,
.callout-success .table > tbody > tr > td {
  border-color: #468847;
  background-color: #f0fff0;
}

.callout-success .table-striped > tbody > tr:nth-child(2n+1) > td,
.callout-success .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #d4e6c3;
}

.callout-info,
.callout-info .table > tbody > tr > th,
.callout-info .table > tbody > tr > td {
  border-color: #bce8f1;
  background-color: #f4f8fa;
}

.callout-info .table-striped > tbody > tr:nth-child(2n+1) > td,
.callout-info .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #ddeeff;
}

.callout-warning,
.callout-warning .table > tbody > tr > th,
.callout-warning .table > tbody > tr > td {
  border-color: #c09853;
  background-color: #fcf8e3;
}

.callout-warning .table-striped > tbody > tr:nth-child(2n+1) > td,
.callout-warning .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #fbeed5;
}

.callout-danger,
.callout-danger .table > tbody > tr > th,
.callout-danger .table > tbody > tr > td {
  border-color: #b94a48;
  background-color: #fff0f0;
}

.callout-danger .table-striped > tbody > tr:nth-child(2n+1) > td,
.callout-danger .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f2dede;
}
